<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "blogme.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey All, I'm Daniel Lisa, but you can call me Dan</h1>
    <p>Welcome to my blog, I made it myself with the help of some tutorials,
    and I have been adding functionality every since. This is 1.0, its first go.</p>
  </div>
</div>
